* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ECEDED;
}

.logo-text {
    font-size: 45px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}

.logo-text span:nth-child(1) { color: #3D8493; }
.logo-text span:nth-child(2) { color: #D89F65; }
.logo-text span:nth-child(3) { color: #4A5C2F; }

.search-bar {
    width: 400px;
    height: 40px;
    border: 1px solid #C4C4C4;
    border-radius: 12px;
    padding: 0 20px;
    font-size: 16px;
    background-color: #ECF3F5;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 100%;
    border: none;
    outline: none;
    background-color: #ECF3F5;
    font-size: 16px;
}

.search-bar input::placeholder {
    color: #89928E;
    font-size: 15px;
    font-family: "Inter", sans-serif;
}

.time-table {
    display: flex;
    align-items: center;
    gap: 30px;
}

.add-table {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 24px;
    background-color: #B2CDD2;
    color: #334144;
    border: none;
    border-radius: 15px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.add-table i {
    font-size: 24px;
}

.products {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    max-width: 1400px;
    width: 100%;
}


.first-fourth,
.second-fourth {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 40px 0;
    justify-content: space-around;
}

.second-fourth {
    margin-top: 50px;
}

.food-card {
    width: 300px;
    background-color: #D8E6E9;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.food-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.food-details {
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: #D8E6E9;
}

.food-details h3 {
    font-size: 17px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #000;
}

.food-meta {
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.category-info {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 8px;
}

.category-info span:nth-child(1) {
    background-color: #E3F1F4;
    color: #3D8493;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.category-info span:nth-child(2) {
    background-color: #E0B284;
    color: black;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.chilli-icons {
    display: flex;
    gap: 2px;
}

.card-no-chilli .chilli-icons {
    display: none !important;
}

.food-card-single-chilli .chilli-icons span:nth-child(1) {
    display: none;
}

.navigation {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;

    width: 80%;
    height: 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    background-color: #EAF0F0;
    padding: 20px;
    border-radius: 16px 16px 0 0;
}

.navigation button {
    flex: 1;
    padding: 15px 0;
    border: none;
    border-radius: 12px;
    color: #A9A9A9;
    background-color: #D9D9D9;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    z-index: 1;
}

.navigation button:hover {
    background-color: #B2CDD2;
    color: #334144;
    font-weight: 600;
}

.navigation button:nth-child(1) {
    color: white;
    background-color: #4A5C2F;
}